USE [master]
GO
/****** Object:  Database [GBHSS]    Script Date: 4/26/2026 12:02:55 PM ******/
CREATE DATABASE [GBHSS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GBHSS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GBHSS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GBHSS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GBHSS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GBHSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GBHSS]
GO
/****** Object:  Table [dbo].[academic_years]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academic_years](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[label] [nvarchar](32) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_current] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assessment_terms]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assessment_terms](
	[id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendance_records]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_records](
	[id] [uniqueidentifier] NOT NULL,
	[session_id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](16) NOT NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendance_sessions]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_sessions](
	[id] [uniqueidentifier] NOT NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[subject_id] [uniqueidentifier] NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[date] [date] NOT NULL,
	[session_date]  AS (CONVERT([date],[date])) PERSISTED,
	[period] [nvarchar](16) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[action] [nvarchar](32) NOT NULL,
	[entity_table] [nvarchar](64) NOT NULL,
	[entity_id] [uniqueidentifier] NULL,
	[old_data] [nvarchar](max) NULL,
	[new_data] [nvarchar](max) NULL,
	[ip_address] [nvarchar](64) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certification_grade_offers]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certification_grade_offers](
	[certification_program_id] [uniqueidentifier] NOT NULL,
	[grade_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[certification_program_id] ASC,
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[certification_programs]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[certification_programs](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](64) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[certificate_template] [nvarchar](32) NOT NULL,
	[description] [nvarchar](max) NULL,
	[issuing_body] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[examination_schedule_lines]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_schedule_lines](
	[id] [uniqueidentifier] NOT NULL,
	[examination_id] [uniqueidentifier] NOT NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[subject_id] [uniqueidentifier] NOT NULL,
	[exam_date] [date] NOT NULL,
	[time_start] [time](7) NULL,
	[time_end] [time](7) NULL,
	[room] [nvarchar](64) NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[examination_seats]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_seats](
	[id] [uniqueidentifier] NOT NULL,
	[examination_id] [uniqueidentifier] NOT NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[seat_number] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[examinations]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examinations](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[exam_kind] [nvarchar](32) NOT NULL,
	[exam_type] [nvarchar](32) NULL,
	[grade_id] [uniqueidentifier] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](24) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grade_subjects]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grade_subjects](
	[grade_id] [uniqueidentifier] NOT NULL,
	[subject_id] [uniqueidentifier] NOT NULL,
	[passing_marks] [numeric](6, 2) NOT NULL,
	[practical_passing_marks] [numeric](6, 2) NULL,
	[has_practical] [bit] NOT NULL,
	[max_marks] [numeric](6, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grades]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grades](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](64) NOT NULL,
	[level_order] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grades_scores]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grades_scores](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[subject_id] [uniqueidentifier] NOT NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[examination_id] [uniqueidentifier] NULL,
	[term_id] [uniqueidentifier] NULL,
	[score_component] [nvarchar](24) NOT NULL,
	[score] [numeric](6, 2) NULL,
	[obtained_marks] [numeric](6, 2) NULL,
	[max_score] [numeric](6, 2) NULL,
	[total_marks] [numeric](6, 2) NULL,
	[grade] [nvarchar](8) NULL,
	[remarks] [nvarchar](max) NULL,
	[assessment_type] [nvarchar](64) NULL,
	[recorded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guardians]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guardians](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[relationship] [nvarchar](64) NULL,
	[phone] [nvarchar](32) NOT NULL,
	[email] [nvarchar](255) NULL,
	[is_primary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schools]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schools](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[code] [nvarchar](64) NULL,
	[district] [nvarchar](128) NULL,
	[semis_code] [nvarchar](32) NULL,
	[address] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sections]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sections](
	[id] [uniqueidentifier] NOT NULL,
	[grade_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](16) NOT NULL,
	[capacity] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[class_teacher_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_certifications]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_certifications](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[certification_program_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](24) NOT NULL,
	[certificate_number] [nvarchar](128) NULL,
	[merge_data] [nvarchar](max) NULL,
	[issue_date] [date] NULL,
	[expiry_date] [date] NULL,
	[document_url] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_enrollments]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_enrollments](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[roll_number] [nvarchar](32) NULL,
	[enrolled_at] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_leaving_records]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_leaving_records](
	[id] [uniqueidentifier] NOT NULL,
	[student_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NULL,
	[leaving_serial_no] [int] NULL,
	[class_left_grade_id] [uniqueidentifier] NULL,
	[class_studying_since] [date] NULL,
	[date_left] [date] NOT NULL,
	[reason] [nvarchar](max) NULL,
	[conduct] [nvarchar](64) NULL,
	[progress] [nvarchar](64) NULL,
	[remarks] [nvarchar](max) NULL,
	[certificate_issued_at] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[serial_no] [int] NULL,
	[general_register_no] [nvarchar](64) NULL,
	[enrollment_number] [nvarchar](64) NOT NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[father_name] [nvarchar](255) NULL,
	[mother_name] [nvarchar](255) NULL,
	[guardian_name] [nvarchar](255) NULL,
	[guardian_relation] [nvarchar](64) NULL,
	[cnic_form_b] [nvarchar](32) NULL,
	[father_cnic] [nvarchar](32) NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](16) NULL,
	[caste] [nvarchar](128) NULL,
	[religion] [nvarchar](64) NULL,
	[nationality] [nvarchar](64) NULL,
	[place_of_birth] [nvarchar](255) NULL,
	[phone] [nvarchar](32) NULL,
	[email] [nvarchar](255) NULL,
	[address] [nvarchar](max) NULL,
	[photo_url] [nvarchar](max) NULL,
	[admission_date] [date] NULL,
	[last_school_attended] [nvarchar](255) NULL,
	[admitted_grade_id] [uniqueidentifier] NULL,
	[class_studying_since] [date] NULL,
	[date_of_leaving] [date] NULL,
	[class_left_label] [nvarchar](64) NULL,
	[conduct_on_leaving] [nvarchar](64) NULL,
	[progress_on_leaving] [nvarchar](64) NULL,
	[reason_for_leaving] [nvarchar](max) NULL,
	[remarks] [nvarchar](max) NULL,
	[status] [nvarchar](24) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[code] [nvarchar](32) NULL,
	[subject_type] [nvarchar](32) NULL,
	[medium] [nvarchar](32) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher_assignments]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher_assignments](
	[id] [uniqueidentifier] NOT NULL,
	[teacher_id] [uniqueidentifier] NOT NULL,
	[section_id] [uniqueidentifier] NOT NULL,
	[subject_id] [uniqueidentifier] NOT NULL,
	[academic_year_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teachers]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachers](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NOT NULL,
	[employee_code] [nvarchar](64) NOT NULL,
	[first_name] [nvarchar](128) NOT NULL,
	[last_name] [nvarchar](128) NOT NULL,
	[gender] [nvarchar](16) NULL,
	[date_of_birth] [date] NULL,
	[phone] [nvarchar](32) NULL,
	[email] [nvarchar](255) NULL,
	[qualification] [nvarchar](255) NULL,
	[joining_date] [date] NULL,
	[status] [nvarchar](24) NOT NULL,
	[deleted_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/26/2026 12:02:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[school_id] [uniqueidentifier] NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[teacher_id] [uniqueidentifier] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[academic_years] ([id], [school_id], [label], [start_date], [end_date], [is_current], [created_at]) VALUES (N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'00000000-0000-0000-0000-000000000001', N'2024-2025', CAST(N'2024-04-01' AS Date), CAST(N'2025-03-31' AS Date), 1, CAST(N'2026-03-24T15:28:55.3289429' AS DateTime2))
GO
INSERT [dbo].[attendance_records] ([id], [session_id], [student_id], [status], [note]) VALUES (N'bc40c23c-eed8-43f4-9f87-ea8a95b50e37', N'67097be8-54f0-4b20-8f3a-a3c7756dc06e', N'5fc5aa86-b4d2-4d5d-90f3-23d423f2c684', N'present', NULL)
GO
INSERT [dbo].[attendance_sessions] ([id], [section_id], [subject_id], [academic_year_id], [date], [period], [created_at]) VALUES (N'67097be8-54f0-4b20-8f3a-a3c7756dc06e', N'16e977b6-a47d-4f20-8325-e9bb934c9da4', NULL, N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', CAST(N'2026-04-26' AS Date), N'1', CAST(N'2026-04-26T06:31:26.7338628' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[audit_logs] ON 

INSERT [dbo].[audit_logs] ([id], [user_id], [action], [entity_table], [entity_id], [old_data], [new_data], [ip_address], [created_at]) VALUES (1, N'f9118e46-43f6-4750-9b82-cc1286bf2d28', N'LOGIN', N'users', N'f9118e46-43f6-4750-9b82-cc1286bf2d28', NULL, N'{"email":"admin@gbhss.edu.pk"}', NULL, CAST(N'2026-03-24T15:43:56.4596285' AS DateTime2))
INSERT [dbo].[audit_logs] ([id], [user_id], [action], [entity_table], [entity_id], [old_data], [new_data], [ip_address], [created_at]) VALUES (2, N'f9118e46-43f6-4750-9b82-cc1286bf2d28', N'LOGIN', N'users', N'f9118e46-43f6-4750-9b82-cc1286bf2d28', NULL, N'{"email":"admin@gbhss.edu.pk"}', NULL, CAST(N'2026-03-24T15:44:22.2243784' AS DateTime2))
SET IDENTITY_INSERT [dbo].[audit_logs] OFF
GO
INSERT [dbo].[certification_programs] ([id], [school_id], [code], [name], [certificate_template], [description], [issuing_body], [is_active], [created_at], [updated_at]) VALUES (N'9ecd5e3a-1b0c-49ca-b423-0a42cc68cf05', N'00000000-0000-0000-0000-000000000001', N'CHARACTER', N'Character Certificate', N'character', NULL, NULL, 1, CAST(N'2026-03-24T16:20:07.2341373' AS DateTime2), CAST(N'2026-03-24T16:20:07.2341373' AS DateTime2))
INSERT [dbo].[certification_programs] ([id], [school_id], [code], [name], [certificate_template], [description], [issuing_body], [is_active], [created_at], [updated_at]) VALUES (N'beaa5828-1339-4df1-a4d1-46875fdf260c', N'00000000-0000-0000-0000-000000000001', N'SCHOOL_LEAVING', N'School Leaving Certificate', N'school_leaving', NULL, NULL, 1, CAST(N'2026-03-24T16:22:12.3846539' AS DateTime2), CAST(N'2026-03-24T16:22:12.3846539' AS DateTime2))
INSERT [dbo].[certification_programs] ([id], [school_id], [code], [name], [certificate_template], [description], [issuing_body], [is_active], [created_at], [updated_at]) VALUES (N'fd9b77a4-e0c2-4bd5-93a0-b33e83a520fe', N'00000000-0000-0000-0000-000000000001', N'PASS_SSC', N'Pass Certificate (SSC)', N'pass_ssc', NULL, NULL, 1, CAST(N'2026-03-24T16:23:45.0596086' AS DateTime2), CAST(N'2026-03-24T16:23:45.0596086' AS DateTime2))
GO
INSERT [dbo].[examinations] ([id], [school_id], [academic_year_id], [name], [title], [exam_kind], [exam_type], [grade_id], [start_date], [end_date], [status], [created_at]) VALUES (N'2cc988d4-9e7d-4906-8760-a3035b17f2d4', N'00000000-0000-0000-0000-000000000001', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', NULL, N'Annual exam 2015', N'annual', N'annual', NULL, CAST(N'2026-04-13' AS Date), CAST(N'2026-04-22' AS Date), N'scheduled', CAST(N'2026-04-26T06:32:07.8470762' AS DateTime2))
GO
INSERT [dbo].[grade_subjects] ([grade_id], [subject_id], [passing_marks], [practical_passing_marks], [has_practical], [max_marks], [created_at]) VALUES (N'b42bc40b-a627-4c33-99a9-0d6ae8c78f4c', N'59a4a274-9196-42e0-b146-3ef24bda7058', CAST(33.00 AS Numeric(6, 2)), NULL, 0, CAST(100.00 AS Numeric(6, 2)), CAST(N'2026-04-26T06:30:19.2562189' AS DateTime2))
INSERT [dbo].[grade_subjects] ([grade_id], [subject_id], [passing_marks], [practical_passing_marks], [has_practical], [max_marks], [created_at]) VALUES (N'b42bc40b-a627-4c33-99a9-0d6ae8c78f4c', N'614c70dc-eb3a-4430-9b98-5c262a3e0ae4', CAST(33.00 AS Numeric(6, 2)), NULL, 0, CAST(100.00 AS Numeric(6, 2)), CAST(N'2026-04-26T06:30:44.5326706' AS DateTime2))
INSERT [dbo].[grade_subjects] ([grade_id], [subject_id], [passing_marks], [practical_passing_marks], [has_practical], [max_marks], [created_at]) VALUES (N'b42bc40b-a627-4c33-99a9-0d6ae8c78f4c', N'61c3411f-81ed-48c8-8f5d-70f1f42cf3b1', CAST(33.00 AS Numeric(6, 2)), NULL, 0, CAST(100.00 AS Numeric(6, 2)), CAST(N'2026-04-26T06:31:02.4973067' AS DateTime2))
GO
INSERT [dbo].[grades] ([id], [school_id], [name], [level_order], [created_at]) VALUES (N'b42bc40b-a627-4c33-99a9-0d6ae8c78f4c', N'00000000-0000-0000-0000-000000000001', N'Class 6', 6, CAST(N'2026-03-24T16:52:05.4317781' AS DateTime2))
INSERT [dbo].[grades] ([id], [school_id], [name], [level_order], [created_at]) VALUES (N'1e8b7509-24dc-453b-b5d4-5ae32fd635c4', N'00000000-0000-0000-0000-000000000001', N'Class 7', 7, CAST(N'2026-03-24T16:56:27.0398343' AS DateTime2))
INSERT [dbo].[grades] ([id], [school_id], [name], [level_order], [created_at]) VALUES (N'39b7a999-4ab4-4776-8fa5-a24550520a25', N'00000000-0000-0000-0000-000000000001', N'Class 8', 8, CAST(N'2026-04-26T06:46:41.8490129' AS DateTime2))
GO
INSERT [dbo].[roles] ([id], [name]) VALUES (N'4a9ce138-2e48-45d1-a8bb-8feb18be3b11', N'admin')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'0cd4bdcf-87b2-4eba-8985-6af9ce8b7ecc', N'registrar')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'b55d388e-02d3-4329-bf3f-be36420551f7', N'super_admin')
GO
INSERT [dbo].[schools] ([id], [name], [code], [district], [semis_code], [address], [created_at]) VALUES (N'00000000-0000-0000-0000-000000000001', N'Government Boys Higher Secondary School, Bhiria City', N'GBHSS-BC', N'Naushahro Feroze', N'416010421', N'Bhiria City, District Naushahro Feroze, Sindh, Pakistan', CAST(N'2026-03-24T15:28:55.2795980' AS DateTime2))
GO
INSERT [dbo].[sections] ([id], [grade_id], [academic_year_id], [name], [capacity], [created_at], [class_teacher_id]) VALUES (N'7b2c94b9-5494-409a-b635-8a3293a2f6d2', N'1e8b7509-24dc-453b-b5d4-5ae32fd635c4', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'a', 150, CAST(N'2026-04-26T06:29:04.7285634' AS DateTime2), N'9d7480f1-b01c-44aa-89f2-8d8e8386276a')
INSERT [dbo].[sections] ([id], [grade_id], [academic_year_id], [name], [capacity], [created_at], [class_teacher_id]) VALUES (N'91edcf69-98f8-4242-bf42-97474b01582c', N'39b7a999-4ab4-4776-8fa5-a24550520a25', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'Section A', 80, CAST(N'2026-04-26T06:47:06.4946517' AS DateTime2), N'5dd61bf7-a89c-4370-a443-c4972e877588')
INSERT [dbo].[sections] ([id], [grade_id], [academic_year_id], [name], [capacity], [created_at], [class_teacher_id]) VALUES (N'541ffc2f-f2de-4da7-973a-d4901ed02fbc', N'b42bc40b-a627-4c33-99a9-0d6ae8c78f4c', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'B', 123, CAST(N'2026-03-24T18:11:28.4700493' AS DateTime2), N'5dd61bf7-a89c-4370-a443-c4972e877588')
GO
INSERT [dbo].[student_certifications] ([id], [student_id], [certification_program_id], [academic_year_id], [status], [certificate_number], [merge_data], [issue_date], [expiry_date], [document_url], [notes], [created_at], [updated_at]) VALUES (N'1e5c07de-1adb-4a85-8b9b-661255da3bfc', N'b38986ab-40b9-4854-bce0-1ddfa5c389dc', N'fd9b77a4-e0c2-4bd5-93a0-b33e83a520fe', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'issued', N'CERT-1774369425102', NULL, CAST(N'2026-03-24' AS Date), NULL, NULL, NULL, CAST(N'2026-03-24T16:23:45.1810944' AS DateTime2), CAST(N'2026-03-24T16:23:45.1810944' AS DateTime2))
INSERT [dbo].[student_certifications] ([id], [student_id], [certification_program_id], [academic_year_id], [status], [certificate_number], [merge_data], [issue_date], [expiry_date], [document_url], [notes], [created_at], [updated_at]) VALUES (N'bcab1bdf-3b96-4df6-a80b-bba8fe7b2a32', N'b38986ab-40b9-4854-bce0-1ddfa5c389dc', N'9ecd5e3a-1b0c-49ca-b423-0a42cc68cf05', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'issued', N'CERT-1774369207303', NULL, CAST(N'2026-03-24' AS Date), NULL, NULL, NULL, CAST(N'2026-03-24T16:20:07.3888116' AS DateTime2), CAST(N'2026-03-24T16:20:07.3888116' AS DateTime2))
INSERT [dbo].[student_certifications] ([id], [student_id], [certification_program_id], [academic_year_id], [status], [certificate_number], [merge_data], [issue_date], [expiry_date], [document_url], [notes], [created_at], [updated_at]) VALUES (N'97de7c98-506a-4fee-aaf1-f5c5b030f052', N'b38986ab-40b9-4854-bce0-1ddfa5c389dc', N'beaa5828-1339-4df1-a4d1-46875fdf260c', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'issued', N'CERT-1774369332442', NULL, CAST(N'2026-03-24' AS Date), NULL, NULL, NULL, CAST(N'2026-03-24T16:22:12.5030208' AS DateTime2), CAST(N'2026-03-24T16:22:12.5030208' AS DateTime2))
GO
INSERT [dbo].[student_enrollments] ([id], [student_id], [section_id], [academic_year_id], [roll_number], [enrolled_at]) VALUES (N'f792e851-c051-4031-954e-48f8168cd48b', N'f5cf0e5c-7c9c-4859-8014-f4cbeee037c3', N'541ffc2f-f2de-4da7-973a-d4901ed02fbc', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'Asperiores corporis', CAST(N'2026-03-24' AS Date))
INSERT [dbo].[student_enrollments] ([id], [student_id], [section_id], [academic_year_id], [roll_number], [enrolled_at]) VALUES (N'e5f95f1e-5f67-42e1-9cf3-9ef30b67849c', N'5fc5aa86-b4d2-4d5d-90f3-23d423f2c684', N'16e977b6-a47d-4f20-8325-e9bb934c9da4', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', N'23', CAST(N'2026-03-24' AS Date))
GO
INSERT [dbo].[student_leaving_records] ([id], [student_id], [academic_year_id], [leaving_serial_no], [class_left_grade_id], [class_studying_since], [date_left], [reason], [conduct], [progress], [remarks], [certificate_issued_at], [created_at]) VALUES (N'cbdc5456-4f61-4b69-95a8-ea16c00ad771', N'b38986ab-40b9-4854-bce0-1ddfa5c389dc', N'13bd36fe-2bfd-45ab-839d-27de3e9896d2', NULL, NULL, NULL, CAST(N'2026-03-24' AS Date), NULL, NULL, NULL, NULL, CAST(N'2026-03-24' AS Date), CAST(N'2026-03-24T16:22:12.5576121' AS DateTime2))
GO
INSERT [dbo].[subjects] ([id], [school_id], [name], [code], [subject_type], [medium], [created_at]) VALUES (N'59a4a274-9196-42e0-b146-3ef24bda7058', N'00000000-0000-0000-0000-000000000001', N'ENGLISH', N'eng', N'core', N'english', CAST(N'2026-04-26T06:29:28.9315219' AS DateTime2))
INSERT [dbo].[subjects] ([id], [school_id], [name], [code], [subject_type], [medium], [created_at]) VALUES (N'614c70dc-eb3a-4430-9b98-5c262a3e0ae4', N'00000000-0000-0000-0000-000000000001', N'MAth', N'MAth', N'elective', N'sindhi', CAST(N'2026-03-24T17:00:04.2774641' AS DateTime2))
INSERT [dbo].[subjects] ([id], [school_id], [name], [code], [subject_type], [medium], [created_at]) VALUES (N'61c3411f-81ed-48c8-8f5d-70f1f42cf3b1', N'00000000-0000-0000-0000-000000000001', N'Urdu', N'NMT', N'core', N'urdu', CAST(N'2026-04-26T06:30:03.3988265' AS DateTime2))
GO
INSERT [dbo].[teachers] ([id], [school_id], [employee_code], [first_name], [last_name], [gender], [date_of_birth], [phone], [email], [qualification], [joining_date], [status], [deleted_at], [created_at], [updated_at]) VALUES (N'9d7480f1-b01c-44aa-89f2-8d8e8386276a', N'00000000-0000-0000-0000-000000000001', N'Pariatur Placeat r', N'Umair', N'Aslam', NULL, CAST(N'1981-01-26' AS Date), N'+12162007917', N'sovera.production@gmail.com', N'gRADDUATION', CAST(N'2000-01-04' AS Date), N'active', NULL, CAST(N'2026-03-24T15:50:40.4856148' AS DateTime2), CAST(N'2026-04-26T06:28:32.9320000' AS DateTime2))
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (N'0ca4560e-16cd-46d2-a64b-0cc83f31fb8e', N'0cd4bdcf-87b2-4eba-8985-6af9ce8b7ecc')
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (N'52dfcbb2-6604-4f72-993a-2c6f8dd01e00', N'5b712c43-bae9-4911-8ab9-0af74351b157')
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (N'f9118e46-43f6-4750-9b82-cc1286bf2d28', N'b55d388e-02d3-4329-bf3f-be36420551f7')
GO
INSERT [dbo].[users] ([id], [school_id], [email], [password_hash], [teacher_id], [is_active], [created_at]) VALUES (N'0ca4560e-16cd-46d2-a64b-0cc83f31fb8e', N'00000000-0000-0000-0000-000000000001', N'registrar@gbhss.edu.pk', N'$2b$10$yJMZZgM4pJK7nryMrEumH.SBuTM0LafeN1/PD.Tqe2fMAzir.L7Qq', NULL, 1, CAST(N'2026-03-24T15:39:35.1594685' AS DateTime2))
INSERT [dbo].[users] ([id], [school_id], [email], [password_hash], [teacher_id], [is_active], [created_at]) VALUES (N'52dfcbb2-6604-4f72-993a-2c6f8dd01e00', N'00000000-0000-0000-0000-000000000001', N'teacher1@gbhss.edu.pk', N'$2b$10$coyL.UMkY5ywrIWqs4hq8.wSBkCs1/6ImpgN/xQMjFXCR/rmXS30m', NULL, 1, CAST(N'2026-03-24T15:39:35.1594685' AS DateTime2))
INSERT [dbo].[users] ([id], [school_id], [email], [password_hash], [teacher_id], [is_active], [created_at]) VALUES (N'f9118e46-43f6-4750-9b82-cc1286bf2d28', N'00000000-0000-0000-0000-000000000001', N'admin@gbhss.edu.pk', N'$2b$10$0ZV9XkjAMT.Z0xRr/cY0lePMDtRKwqDb6FwOnFsZHc59sAQEcz/ji', NULL, 1, CAST(N'2026-03-24T15:39:35.1594685' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__academic__0348532ED7AC02AE]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[academic_years] ADD UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__assessme__A6E1AB84C2D2EB4D]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[assessment_terms] ADD UNIQUE NONCLUSTERED 
(
	[academic_year_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__attendan__DB120FB4E37FF6E9]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[attendance_records] ADD UNIQUE NONCLUSTERED 
(
	[session_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_att_records_session]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_att_records_session] ON [dbo].[attendance_records]
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__attendan__81FFA84B5D5D5B88]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[attendance_sessions] ADD UNIQUE NONCLUSTERED 
(
	[section_id] ASC,
	[date] ASC,
	[period] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_audit_created]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_audit_created] ON [dbo].[audit_logs]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_audit_entity]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_audit_entity] ON [dbo].[audit_logs]
(
	[entity_table] ASC,
	[entity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__certific__B49DB83A4E840B8D]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[certification_programs] ADD UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__examinat__688D49AA3253748C]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[examination_schedule_lines] ADD UNIQUE NONCLUSTERED 
(
	[examination_id] ASC,
	[section_id] ASC,
	[subject_id] ASC,
	[exam_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_exam_sched_exam]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_exam_sched_exam] ON [dbo].[examination_schedule_lines]
(
	[examination_id] ASC,
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__examinat__0E7B1558169B9FCB]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[examination_seats] ADD UNIQUE NONCLUSTERED 
(
	[examination_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__examinat__B2ACC8DA4B889F2B]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[examination_seats] ADD UNIQUE NONCLUSTERED 
(
	[examination_id] ASC,
	[section_id] ASC,
	[seat_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_exam_seats_exam]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_exam_seats_exam] ON [dbo].[examination_seats]
(
	[examination_id] ASC,
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__grades__90E47E041F59CB8B]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[grades] ADD UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_scores_exam]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_scores_exam] ON [dbo].[grades_scores]
(
	[examination_id] ASC,
	[section_id] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_scores_student_exam]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_scores_student_exam] ON [dbo].[grades_scores]
(
	[student_id] ASC,
	[examination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1BC15E263D]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sections__70E16995C6727617]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[sections] ADD UNIQUE NONCLUSTERED 
(
	[grade_id] ASC,
	[academic_year_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__student___C006720F414BF291]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[student_certifications] ADD UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[certification_program_id] ASC,
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_certifications_student]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_certifications_student] ON [dbo].[student_certifications]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__student___7B2FFD0C6345AE78]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[student_enrollments] ADD UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_enrollments_section]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_enrollments_section] ON [dbo].[student_enrollments]
(
	[section_id] ASC,
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_enrollments_student]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_enrollments_student] ON [dbo].[student_enrollments]
(
	[student_id] ASC,
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_leaving_student]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_leaving_student] ON [dbo].[student_leaving_records]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__students__3692AE423A76F21E]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[students] ADD UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[enrollment_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_students_gr]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_students_gr] ON [dbo].[students]
(
	[general_register_no] ASC
)
WHERE ([general_register_no] IS NOT NULL AND [deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_students_school_status]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_students_school_status] ON [dbo].[students]
(
	[school_id] ASC,
	[status] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_students_serial]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_students_serial] ON [dbo].[students]
(
	[school_id] ASC,
	[serial_no] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_students_school_gr_no]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_students_school_gr_no] ON [dbo].[students]
(
	[school_id] ASC,
	[general_register_no] ASC
)
WHERE ([general_register_no] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__subjects__B49DB83AE55ADAA4]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[subjects] ADD UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__teacher___4A2B49043CFDBAF8]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[teacher_assignments] ADD UNIQUE NONCLUSTERED 
(
	[teacher_id] ASC,
	[section_id] ASC,
	[subject_id] ASC,
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_teacher_assignments_section]    Script Date: 4/26/2026 12:02:57 PM ******/
CREATE NONCLUSTERED INDEX [idx_teacher_assignments_section] ON [dbo].[teacher_assignments]
(
	[section_id] ASC,
	[academic_year_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__teachers__7CC0CBC11F3BEFF6]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[teachers] ADD UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61646DB5A81F]    Script Date: 4/26/2026 12:02:57 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT ((0)) FOR [is_current]
GO
ALTER TABLE [dbo].[academic_years] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[assessment_terms] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[assessment_terms] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[attendance_records] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[attendance_sessions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[attendance_sessions] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[certification_programs] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[certification_programs] ADD  DEFAULT ('character') FOR [certificate_template]
GO
ALTER TABLE [dbo].[certification_programs] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[certification_programs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[certification_programs] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[examination_schedule_lines] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[examination_schedule_lines] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[examination_seats] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[examination_seats] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[examinations] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[examinations] ADD  DEFAULT ('annual') FOR [exam_kind]
GO
ALTER TABLE [dbo].[examinations] ADD  DEFAULT ('annual') FOR [exam_type]
GO
ALTER TABLE [dbo].[examinations] ADD  DEFAULT ('scheduled') FOR [status]
GO
ALTER TABLE [dbo].[examinations] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grade_subjects] ADD  DEFAULT ((33)) FOR [passing_marks]
GO
ALTER TABLE [dbo].[grade_subjects] ADD  DEFAULT ((0)) FOR [has_practical]
GO
ALTER TABLE [dbo].[grade_subjects] ADD  DEFAULT ((100)) FOR [max_marks]
GO
ALTER TABLE [dbo].[grade_subjects] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grades] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[grades] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[grades_scores] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[grades_scores] ADD  DEFAULT ('overall') FOR [score_component]
GO
ALTER TABLE [dbo].[grades_scores] ADD  DEFAULT ((100)) FOR [max_score]
GO
ALTER TABLE [dbo].[grades_scores] ADD  DEFAULT ((100)) FOR [total_marks]
GO
ALTER TABLE [dbo].[grades_scores] ADD  DEFAULT (sysutcdatetime()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[guardians] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[guardians] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sections] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sections] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_certifications] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_certifications] ADD  DEFAULT ('enrolled') FOR [status]
GO
ALTER TABLE [dbo].[student_certifications] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[student_certifications] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[student_enrollments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_enrollments] ADD  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[student_leaving_records] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[student_leaving_records] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('Pakistani') FOR [nationality]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[subjects] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[subjects] ADD  DEFAULT ('core') FOR [subject_type]
GO
ALTER TABLE [dbo].[subjects] ADD  DEFAULT ('english') FOR [medium]
GO
ALTER TABLE [dbo].[subjects] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[teacher_assignments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[teacher_assignments] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[teachers] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[teachers] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[teachers] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[teachers] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[academic_years]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assessment_terms]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[attendance_sessions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[attendance_sessions]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[attendance_sessions]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
GO
ALTER TABLE [dbo].[attendance_sessions]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[certification_grade_offers]  WITH CHECK ADD FOREIGN KEY([certification_program_id])
REFERENCES [dbo].[certification_programs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[certification_grade_offers]  WITH CHECK ADD FOREIGN KEY([grade_id])
REFERENCES [dbo].[grades] ([id])
GO
ALTER TABLE [dbo].[certification_programs]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[examination_schedule_lines]  WITH CHECK ADD FOREIGN KEY([examination_id])
REFERENCES [dbo].[examinations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[examination_schedule_lines]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
GO
ALTER TABLE [dbo].[examination_schedule_lines]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[examination_seats]  WITH CHECK ADD FOREIGN KEY([examination_id])
REFERENCES [dbo].[examinations] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[examination_seats]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
GO
ALTER TABLE [dbo].[examination_seats]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[examinations]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[examinations]  WITH CHECK ADD FOREIGN KEY([grade_id])
REFERENCES [dbo].[grades] ([id])
GO
ALTER TABLE [dbo].[examinations]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grade_subjects]  WITH CHECK ADD FOREIGN KEY([grade_id])
REFERENCES [dbo].[grades] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grade_subjects]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[grades]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD FOREIGN KEY([examination_id])
REFERENCES [dbo].[examinations] ([id])
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD FOREIGN KEY([term_id])
REFERENCES [dbo].[assessment_terms] ([id])
GO
ALTER TABLE [dbo].[guardians]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sections]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[sections]  WITH CHECK ADD FOREIGN KEY([class_teacher_id])
REFERENCES [dbo].[teachers] ([id])
GO
ALTER TABLE [dbo].[sections]  WITH CHECK ADD FOREIGN KEY([grade_id])
REFERENCES [dbo].[grades] ([id])
GO
ALTER TABLE [dbo].[student_certifications]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[student_certifications]  WITH CHECK ADD FOREIGN KEY([certification_program_id])
REFERENCES [dbo].[certification_programs] ([id])
GO
ALTER TABLE [dbo].[student_certifications]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[student_enrollments]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[student_enrollments]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
GO
ALTER TABLE [dbo].[student_enrollments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[student_leaving_records]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[student_leaving_records]  WITH CHECK ADD FOREIGN KEY([class_left_grade_id])
REFERENCES [dbo].[grades] ([id])
GO
ALTER TABLE [dbo].[student_leaving_records]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([admitted_grade_id])
REFERENCES [dbo].[grades] ([id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[subjects]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[teacher_assignments]  WITH CHECK ADD FOREIGN KEY([academic_year_id])
REFERENCES [dbo].[academic_years] ([id])
GO
ALTER TABLE [dbo].[teacher_assignments]  WITH CHECK ADD FOREIGN KEY([section_id])
REFERENCES [dbo].[sections] ([id])
GO
ALTER TABLE [dbo].[teacher_assignments]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[teacher_assignments]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[teachers] ([id])
GO
ALTER TABLE [dbo].[teachers]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[teachers] ([id])
GO
ALTER TABLE [dbo].[attendance_records]  WITH CHECK ADD  CONSTRAINT [CK_att_status] CHECK  (([status]='excused' OR [status]='late' OR [status]='absent' OR [status]='present'))
GO
ALTER TABLE [dbo].[attendance_records] CHECK CONSTRAINT [CK_att_status]
GO
ALTER TABLE [dbo].[certification_programs]  WITH CHECK ADD  CONSTRAINT [CK_cert_template] CHECK  (([certificate_template]='custom' OR [certificate_template]='school_leaving' OR [certificate_template]='pass_hsc' OR [certificate_template]='pass_ssc' OR [certificate_template]='character'))
GO
ALTER TABLE [dbo].[certification_programs] CHECK CONSTRAINT [CK_cert_template]
GO
ALTER TABLE [dbo].[examinations]  WITH CHECK ADD  CONSTRAINT [CK_exam_kind] CHECK  (([exam_kind]='other' OR [exam_kind]='mock' OR [exam_kind]='supplementary' OR [exam_kind]='monthly' OR [exam_kind]='half_yearly' OR [exam_kind]='mid_term' OR [exam_kind]='annual'))
GO
ALTER TABLE [dbo].[examinations] CHECK CONSTRAINT [CK_exam_kind]
GO
ALTER TABLE [dbo].[grades_scores]  WITH CHECK ADD  CONSTRAINT [CK_score_component] CHECK  (([score_component]='project' OR [score_component]='oral' OR [score_component]='practical' OR [score_component]='theory' OR [score_component]='overall'))
GO
ALTER TABLE [dbo].[grades_scores] CHECK CONSTRAINT [CK_score_component]
GO
ALTER TABLE [dbo].[student_certifications]  WITH CHECK ADD  CONSTRAINT [CK_cert_status] CHECK  (([status]='withdrawn' OR [status]='issued' OR [status]='completed' OR [status]='in_progress' OR [status]='enrolled'))
GO
ALTER TABLE [dbo].[student_certifications] CHECK CONSTRAINT [CK_cert_status]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [CK_student_status] CHECK  (([status]='passed_out' OR [status]='alumni' OR [status]='withdrawn' OR [status]='active'))
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [CK_student_status]
GO
USE [master]
GO
